In [27]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [13]:
data = pd.read_csv("E:\github\Lung-Cancer-detection\Dataset\lung_cancer.csv")
data.head()

,Gender,Age,Smoking,Yellow_Fingers,Anxiety,Peer_Pressure,Chronic_Disease,Fatigue,Allergy,Wheezing,Alcohol_Consume,Coughing,Shortness_Of_Breath,Swallowing_Difficulty,Chest_Pain,Output
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [18]:
data = data.replace([1],'0')
data= data.replace([2],'1')
data.head()

,Gender,Age,Smoking,Yellow_Fingers,Anxiety,Peer_Pressure,Chronic_Disease,Fatigue,Allergy,Wheezing,Alcohol_Consume,Coughing,Shortness_Of_Breath,Swallowing_Difficulty,Chest_Pain,Output
0,M,69,0,1,1,0,0,1,0,1,1,1,1,1,1,YES
1,M,74,1,0,0,0,1,1,1,0,0,0,1,1,1,YES
2,F,59,0,0,0,1,0,1,0,1,0,1,1,0,1,NO
3,M,63,1,1,1,0,0,0,0,0,1,0,0,1,1,NO
4,F,63,0,1,0,0,0,0,0,1,0,1,1,0,0,NO

In [19]:
#understand the data
data.isnull().sum()

Gender                   0
Age                      0
Smoking                  0
Yellow_Fingers           0
Anxiety                  0
Peer_Pressure            0
Chronic_Disease          0
Fatigue                  0
Allergy                  0
Wheezing                 0
Alcohol_Consume          0
Coughing                 0
Shortness_Of_Breath      0
Swallowing_Difficulty    0
Chest_Pain               0
Output                   0
dtype: int64

In [21]:
data.columns

Index(['Gender', 'Age', 'Smoking', 'Yellow_Fingers', 'Anxiety',
       'Peer_Pressure', 'Chronic_Disease', 'Fatigue', 'Allergy ', 'Wheezing',
       'Alcohol_Consume', 'Coughing', 'Shortness_Of_Breath',
       'Swallowing_Difficulty', 'Chest_Pain', 'Output'],
      dtype='object')

In [22]:
data.shape

(309, 16)